<!DOCTYPE html>

<html>

<head>
    <title>File Upload Test</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="row">
          <div class="col">
      
            <h1>Upload an image</h1>
            <hr>
      
            <form action="/" method="POST" enctype="multipart/form-data">
      
              <div class="form-group">
                <label>Select image</label>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" name="image" id="image">
                  <label class="custom-file-label" for="image">Select image...</label>
                </div>
              </div>
      
              <button type="submit" class="btn btn-primary">Upload</button>
      
            </form>
      
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h1> {{ message }}</h1>
            <img src={{ picture }} style="width:500px;height:600px;">
          </div>
        </div> 
      </div>

</body>

</html>