<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Gallery</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/assets/css/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="subpage">

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="index" class="logo">Rice Data Analytics Bootcamp 2020</a>
            <nav id="nav">
                <a href="index">Home</a>
                <a href="visual">Visualizations</a>
                <a href="gallery">Gallery</a>
                <a href="imageUpload">Photo Submission</a>
                <a href="model">Our Model</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

    <div class="grid">
        <div class="grid-item"><img src="../static/images/bag1.jpg"></div>
        <div class="grid-item"><img src="../static/images/bag2.jpg"></div>
        <div class="grid-item"><img src="../static/images/bag3.jpg"></div>
        <div class="grid-item"><img src="../static/images/bag4.jpg"></div>
        <div class="grid-item"><img src="../static/images/bag5.jpg"></div>
        <div class="grid-item"><img src="../static/images/boot1.jpg"></div>
        <div class="grid-item"><img src="../static/images/boot2.jpg"></div>
        <div class="grid-item"><img src="../static/images/boot3.jpg"></div>
        <div class="grid-item"><img src="../static/images/boot4.jpg"></div>
        <div class="grid-item"><img src="../static/images/boot5.jpg"></div>

        <div class="grid-item"><img src="../static/images/coat1.jpg"></div>
        <div class="grid-item"><img src="../static/images/coat2.jpg"></div>
        <div class="grid-item"><img src="../static/images/coat3.jpg"></div>
        <div class="grid-item"><img src="../static/images/coat4.jpg"></div>
        <div class="grid-item"><img src="../static/images/coat5.jpg"></div>
        <div class="grid-item"><img src="../static/images/dress1.jpg"></div>
        <div class="grid-item"><img src="../static/images/dress2.jpg"></div>
        <div class="grid-item"><img src="../static/images/dress3.jpg"></div>
        <div class="grid-item"><img src="../static/images/dress4.jpg"></div>
        <div class="grid-item"><img src="../static/images/dress5.jpg"></div>

        <div class="grid-item"><img src="../static/images/pullover1.jpg"></div>
        <div class="grid-item"><img src="../static/images/pullover2.jpg"></div>
        <div class="grid-item"><img src="../static/images/pullover3.jpg"></div>
        <div class="grid-item"><img src="../static/images/pullover4.jpg"></div>
        <div class="grid-item"><img src="../static/images/pullover5.jpg"></div>
        <div class="grid-item"><img src="../static/images/sandal1.jpg"></div>
        <div class="grid-item"><img src="../static/images/sandal2.jpeg"></div>
        <div class="grid-item"><img src="../static/images/sandal3.jpg"></div>
        <div class="grid-item"><img src="../static/images/sandal4.jpg"></div>
        <div class="grid-item"><img src="../static/images/sandal5.jpg"></div>

        <div class="grid-item"><img src="../static/images/shirt1.jpg"></div>
        <div class="grid-item"><img src="../static/images/shirt2.jpg"></div>
        <div class="grid-item"><img src="../static/images/shirt3.jpg"></div>
        <div class="grid-item"><img src="../static/images/shirt4.jpg"></div>
        <div class="grid-item"><img src="../static/images/shirt5.jpg"></div>
        <div class="grid-item"><img src="../static/images/sneaker1.jpg"></div>
        <div class="grid-item"><img src="../static/images/sneaker2.jpg"></div>
        <div class="grid-item"><img src="../static/images/sneaker3.jpg"></div>
        <div class="grid-item"><img src="../static/images/sneaker4.png"></div>
        <div class="grid-item"><img src="../static/images/sneaker5.jpg"></div>

        <div class="grid-item"><img src="../static/images/t-shirt1.jpg"></div>
        <div class="grid-item"><img src="../static/images/t-shirt2.jpg"></div>
        <div class="grid-item"><img src="../static/images/t-shirt3.jpg"></div>
        <div class="grid-item"><img src="../static/images/t-shirt4.jpg"></div>
        <div class="grid-item"><img src="../static/images/t-shirt5.jpg"></div>
        <div class="grid-item"><img src="../static/images/trouser1.jpg"></div>
        <div class="grid-item"><img src="../static/images/trouser2.jpg"></div>
        <div class="grid-item"><img src="../static/images/trouser3.jpg"></div>
        <div class="grid-item"><img src="../static/images/trouser4.jpeg"></div>
        <div class="grid-item"><img src="../static/images/trouser5.jpg"></div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <div class="flex">
                <div class="copyright">
                    &copy; Rice Data Bootcamp Group 8 FashionVision
                </div>
                <!-- <ul class="icons">
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                        <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                        <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
                    </ul> -->
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/skel.min.js"></script>
    <script src="../static/assets/js/util.js"></script>
    <script src="../static/assets/js/main.js"></script>

</body>

</html>