<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Model</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="../static/assets/css/main.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="subpage">

	<!-- Header -->
	<header id="header">
		<div class="index">
			<a href="index" class="logo">Rice Data Analytics Bootcamp 2020</a>
			<nav id="nav">
				<a href="index">Home</a>
				<a href="visual">Visualizations</a>
				<a href="gallery">Gallery</a>
				<a href="imageUpload">Photo Submission</a>
				<a href="model">Our Model</a>
			</nav>
			<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		</div>
	</header>

	<!-- Three -->
	<section id="three" class="wrapper">
		<div class="inner">
			<header class="align-center">
				<h2>Convolutional Neural Network</h2>
				<!-- <p>Aliquam erat volutpat nam dui </p> -->
			</header>
			<p><span class="image right"><img src="../static/images/ex4.png" alt="" /></span>FashionVision uses a convolutional neural network, which is a standard architecture for computer vision,
				the field of teaching computers to identify images. The program works by first turning the image into a
				matrix of numbers, representing the pixels that make up the image. This matrix is then sent through a
				series of convolutional and pooling layers. </p>
			<p><span class="image left"><img src="../static/images/ex5.png" alt="" /></span>Convolutional and pooling layers both work by looking at subsets of the given matrix and giving back an
				aggregate of those subsets. There are two benefits of looking at aggregates instead of the original
				matrix. First, looking at smaller datasets improves run time of the model, and second, aggregates
				capture features of multiple pixels rather than looking at pixels in isolation. Basically, these layers
				let the computer look at lines and shapes rather than just a series of pixels. </p>
			<p><span class="image right"><img src="../static/images/ex6.png" alt="" /></span>The features captured by the convolutional and pooling layers are then sent through a standard neural
				network which learns which features indicate that the picture is of a shirt, shoes, dress, etc. This
				neural network contains nodes that vote on what type of clothing they think the picture is and return
				the category with the most votes. </p>
			<!-- <div class="flex flex-2">
				<article>
					<div class="image fit">
						<img src="../static/images/pic01.jpg" alt="Pic 01" />
					</div>
					<header>
						<h3>Praesent placerat magna</h3>
					</header>
					<p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros
						eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor lorem ipsum.</p>
					<footer>
						<a href="#" class="button special">More</a>
					</footer>
				</article>
				<article>
					<div class="image fit">
						<img src="../static/images/pic02.jpg" alt="Pic 02" />
					</div>
					<header>
						<h3>Fusce pellentesque tempus</h3>
					</header>
					<p>Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit.
						Pellentesque egestas sem. Suspendisse commodo ullamcorper magna non comodo sodales tempus.</p>
					<footer>
						<a href="#" class="button special">More</a>
					</footer>
				</article>
			</div> -->
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="flex">
				<div class="copyright">
					&copy; Rice Data Bootcamp Group 8 FashionVision
				</div>
				<!-- <ul class="icons">
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
						<li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
						<li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
					</ul> -->
			</div>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="../static/assets/js/jquery.min.js"></script>
	<script src="../static/assets/js/skel.min.js"></script>
	<script src="../static/assets/js/util.js"></script>
	<script src="../static/assets/js/main.js"></script>

</body>

</html>